.logout-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(180deg,white,black);
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.logout-btn:hover {
  background-color: #c82333;
}

.admin-login-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 12px 18px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
.admin-login-btn:hover {
  background-color: #444;
}